@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* || SETTING DEFAULT STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.8;
}

/* || NEW STYLES */

html {
  scroll-behavior: smooth;
}

/* | CSS Variables */
:root {
  --bg: #020035;
  --text: #fff;
  --link: #46B683;
  --link-hover-state: #B0E0E6;
  --button-bg: var(--link);
  --button-bg-hover: var(--link-hover-state);
  --span: var(--link);
  --white: var(--text);
}

/* Tags Defalut Styles */
body {
  background-color: var(--bg);
  color: var(--white);
  font-family: "Open Sans", Sans-Serif;
  width: 90%;
  margin: auto;
}

img {
  width: 50%;
  height: auto;
}

h1, 
h2, 
h3, 
h4 {
  font-family: "Montserrat", Sans-Serif;
  color: var(--white);
}

p {
  font-family: "Open Sans", Sans-Serif;
  color: var(--text);
}

em {
  font-family: "Playfair Display", serif;
  font-weight: 650;
  font-style: normal;
  color: var(--link-hover-state);
}

/* || SECTIONS */
/* | Header Section */
header {
  background-color: var(--bg);
  padding-top: 1.5rem;
}

header h1 {
  font-size: 2rem;
}

header span{
  color: var(--span);
}

header p {
  font-weight: 500;
  margin-top: 0rem;
  font-size: 1.1rem;
}

header .hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .more-details {
  width: 70%;
}

header .more-details .tagline {
  margin-top: 0.7rem;
}

header .more-details .links {
  margin-top: 0.7rem;
}

header .more-details .links a {
  font-size: 1.5rem;
  display: inline-block;
  margin-inline: 0.5rem;
  color: var(--link);
  transition: 0.5s all;
}

header .more-details .links a:hover, 
header .more-details .links a:focus {
  color: var(--link-hover-state);
  transform: scale(1.25);
}

/* | Main Section */
main {
  margin-top: 6rem;
}

section {
  position: relative;
  margin-bottom: 5rem;
  border-top: 0.1rem var(--text) double;
}

section h2 {
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: rgba(2, 0, 53, 0.3) ;
  backdrop-filter: blur(10px);
}
/* Skills */
#skills .web-design {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 4rem;
}

#skills .web-design .web-design__progress-bar {
  order: 2;
  margin-top: 2rem;
}

#skills .web-design .web-design__progress-bar .outer-circle  {
  width: 11rem;
  height: 11rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s ease-in-out 0s 1 normal forwards progress-bar-95;
  border-radius: 50%;
}

@keyframes progress-bar-95 {
  0% {
    background: conic-gradient(var(--link-hover-state) 95%, var(--link) 0);
  }
  100% {
    background: conic-gradient(var(--link-hover-state) 8%, var(--link) 0);
  }
}

#skills .web-design .web-design__progress-bar .inner-circle-95 {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-radius: 50%;
}

#skills .web-design .web-design__progress-bar .inner-circle-95 .proficiency {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

#skills .web-design .web-design__progress-bar .inner-circle-95 .head {
  font-size: 1.1rem;
  font-weight: 650;
}

#skills .web-design .web-design__progress-bar .inner-circle-95 .percent {
  font-size: 1rem;
  font-weight: 650;
}

#skills .web-design .web-design__content h3 {
  font-size: 1.2rem;
  margin: 1rem;
}

#skills .web-design .web-design__content p {
  padding-left: 1rem;
}

/* UI/UX Design */
#skills .ui-ux-design {
  display: flex;
  flex-flow: column wrap;
  margin-top: 8rem;
}

#skills .ui-ux-design .ui-ux-design__progress-bar {
  order: 2;
  margin-top: 2rem;
}

#skills .ui-ux-design .ui-ux-design__progress-bar .outer-circle  {
  width: 11rem;
  height: 11rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s ease-in-out 0s 1 normal forwards progress-bar-75;
  border-radius: 50%;
}

@keyframes progress-bar-75 {
  0% {
    background: conic-gradient(var(--link-hover-state) 95%, var(--link) 0);
  }
  100% {
    background: conic-gradient(var(--link-hover-state) 22%, var(--link) 0);
  }
}

#skills .ui-ux-design .ui-ux-design__progress-bar .inner-circle-75 {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-radius: 50%;
}

#skills .ui-ux-design .ui-ux-design__progress-bar .inner-circle-75 .proficiency {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

#skills .ui-ux-design .ui-ux-design__progress-bar .inner-circle-75 .head {
  font-size: 1.1rem;
  font-weight: 650;
}

#skills .ui-ux-design .ui-ux-design__progress-bar .inner-circle-75 .percent {
  font-size: 1rem;
  font-weight: 650;
}

#skills .ui-ux-design .ui-ux-design__content h3 {
  font-size: 1.2rem;
  margin: 1rem;
}

#skills .ui-ux-design .ui-ux-design__content p {
  padding-left: 1rem;
}

/* Graphics Design */
#skills .graphics-design {
  display: flex;
  flex-flow: column wrap;
  margin-top: 8rem;
}

#skills .graphics-design .graphics-design__progress-bar {
  order: 2;
  margin-top: 2rem;
}

#skills .graphics-design .graphics-design__progress-bar .outer-circle  {
  width: 11rem;
  height: 11rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s ease-in-out 0s 1 normal forwards progress-bar-85;
  border-radius: 50%;
}

@keyframes progress-bar-85 {
  0% {
    background: conic-gradient(var(--link-hover-state) 95%, var(--link) 0);
  }
  100% {
    background: conic-gradient(var(--link-hover-state) 13%, var(--link) 0);
  }
}

#skills .graphics-design .graphics-design__progress-bar .inner-circle-85 {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-radius: 50%;
}

#skills .graphics-design .graphics-design__progress-bar .inner-circle-85 .proficiency {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

#skills .graphics-design .graphics-design__progress-bar .inner-circle-85 .head {
  font-size: 1.1rem;
  font-weight: 650;
}

#skills .graphics-design .graphics-design__progress-bar .inner-circle-85 .percent {
  font-size: 1rem;
  font-weight: 650;
}

#skills .graphics-design .graphics-design__content h3 {
  font-size: 1.2rem;
  margin: 1rem;
}

#skills .graphics-design .graphics-design__content p {
  padding-left: 1rem;
}

/* Portfolio */

.projects {
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.projects p {
  margin-bottom: 1rem;
}

.projects .sub-head {
  opacity: 0.5;
  color: var(--link-hover-state);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.projects .tools .sleek-btn {
  display: inline-block;
  margin-inline: 1rem;
  font-weight: 650;
  letter-spacing: 0.045rem;
  color: var(--white);
  font-family: "Playfair Display", serif;
  padding: 0.009rem 2rem;
  border: 0.1rem var(--link) solid;
  border-radius: 0.8rem;
  background-color: rgba(176, 224, 230, 0.2);
}

.projects .resize {
  transition: 0.7s all;
  margin: 0.5rem 0rem;
}

.projects .resize:hover, 
.projects .resize:focus {
  transform: scale(1.1);
  margin: 1.5rem 0rem;
}

.projects .go-to {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--link);
  margin-left: 0.7rem;
  text-decoration: underline;
  transition: 0.5s all;
}

.projects .go-to:focus, 
.projects .go-to:hover {
  transform: scale(1.25);
  color: var(--link-hover-state);
  text-decoration: none;
}
/* Education */
.learning-experience {
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}

.learning-experience h3 {
  margin-bottom: 1rem;
}

.learning-experience p {
  margin-bottom: 0.5rem;
}

.learning-experience p .label {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--link-hover-state);
  opacity: 0.8;
}

.learning-experience .list{
  list-style-type: circle;
  padding-left: 1.7rem;
}

/* Footer */
footer {
  margin-left: 1rem;
}

footer h2 {
  margin-bottom: 2.5rem;
}

footer form label {
  font-weight: 600;
  color: rgba(176, 224, 230, 0.7);
  font-size: 1.1rem;
}

footer form input {
  height: 2.5rem;
  width: 87%;
  padding: 0.5rem;
  border: 0.1rem var(--link-hover-state) solid;
  background-color: var(--bg);
  color: var(--white);
  border-radius: 1rem;
  font-size: 1.02rem;
}

footer form input:focus, 
footer form input:hover, 
footer form input:active {
  border: 0.1rem var(--link) solid;
  background-color: var(--bg);
  outline: none;
}

footer form input:valid, 
footer form textarea:valid {
  border: 0.1rem var(--link) solid;
}

footer form textarea {
  padding: 0.5rem;
  border: 0.1rem var(--link-hover-state) solid;
  background-color: var(--bg);
  color: var(--white);
  border-radius: 1rem;
  font-size: 1.02rem;
}

footer form textarea:focus, 
footer form textarea:hover, 
footer form textarea:active {
  border: 0.1rem var(--link) solid;
  background-color: var(--bg);
  outline: none;
}

footer form textarea::placeholder {
  font-size: 1.02rem;
  font-family: "Montserrat", serif;
}

footer form ::placeholder {
  font-size: 1.02rem;
}

footer form button {
  font-size: 1.1rem;
  border-radius: 0.8rem;
  border: 0.1rem var(--link) solid;
  background-color: rgba(176, 224, 230, 0.2);
  color: var(--white);
  padding: 0.3rem 1.1rem;
  font-weight: 600;
  transition: 0.5s all;
}

footer form button:hover,
footer form button:focus {
  background-color: rgba(176, 224, 230, 0.4);
  transform: scale(1.2);
}

footer h3 {
  margin: 2rem 0rem;
}

footer .resume a {
  font-size: 1.1rem;
  border-radius: 0.8rem;
  border: 0.1rem var(--link) solid;
  background-color: rgba(176, 224, 230, 0.2);
  color: var(--white);
  padding: 0.3rem 1.1rem;
  font-weight: 600;
  transition: 0.5s all;
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .resume a:hover, 
footer .resume a:focus {
  background-color: rgba(176, 224, 230, 0.4);
  transform: scale(1.1);
}

footer .footer__link {
  margin-bottom: 1rem;
}

footer .footer__link .label {
  font-size: 1.18rem;
  font-weight: 620;
  display: inline-block;
  margin-bottom: 0.5rem;
}

footer .social a {
  font-size: 1.5rem;
  margin-inline: 0.3rem;
  display: inline-block;
  color: var(--link);
  transition: 0.5s all;
}

footer .social a:hover, 
footer .social a:focus {
  color: var(--link-hover-state);
  transform: scale(1.3);
}

footer .nav a {
  font-size: 1rem;
  margin-inline: 0.5rem;
  display: inline-block;
  font-weight: 550;
  color: var(--link);
  transition: 0.5s all;
}

footer .nav a:hover, 
footer .nav a:focus {
  color: var(--link-hover-state);
  transform: scale(1.2);
}

footer .closed-page {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 3rem;
  font-weight: 550;
  opacity: 0.7;
  border-top: 0.1rem var(--white) double;
}